/* About section */

.about-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.about-header h2 {
  margin: 0;
  margin-right: var(--space-md);
  margin-left: var(--space-md);
}

.about-header .about-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .about-header {
    flex-direction: column;
  }

  .about-header h2 {
    margin: 0 0 var(--space-sm) 0;
  }

  .about-image {
    margin: 0 0 var(--space-sm) 0;
  }
}
