
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA; /* Softer light gray */
    color: #2B2B2B;
}


.container {
    animation: fadeIn 1s ease-in-out;
    overflow-x: auto;
    overflow-y: auto;
    min-height: 100vh;
    background: linear-gradient(90deg, #6f6f6f,#ffffff);
}

.top-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.content {
    background: linear-gradient(90deg,#ffffff, #6f6f6f);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    padding: 2%;

}

.content-box {
    border-radius: 20px; /* Increase the value for more roundness */
}

.footer {
    background-color: #3A3F44; /* Dark gray footer */
    color: #FFFFFF; /* White text for contrast */
    text-shadow: 2px 2px 4px #000;
    text-align: center;
    padding: 1%;
    margin: 2%;
    margin-top: 0%;
}