
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.container {
    overflow-x: auto;
    overflow-y: auto;
    min-height: 100vh;
    background: linear-gradient(45deg, #63400c, #d4dbd3);
}

.top-section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Apply fade-in to sections */
.content {
    animation: fadeIn 1s ease-in-out;
}

.content {
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    padding: 2%;

}

/* Box shadows for cards */
.content {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.footer {
    background: linear-gradient(45deg, #555, #2b2020);
    color: white;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
    padding: 1%;
    margin: 2%;
    margin-top: 0%;
}