.education-item,
.iprojects-item,
.gprojects-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.education-logo,
.iprojects-logo,
.gprojects-logo {
    flex: 1;
    max-width: 30%; /* Adjust as per your design */
}

.education-logo-img,
.iprojects-logo-img,
.gprojects-logo-img {
    width: 90%;
    height: auto;
}

.education-logo-tamiscal {
    width: 60%;
    height: auto;
    padding-left: 10%;
}

.education-description,
.iprojects-description,
.gprojects-box,
.gprojects-title,
.gprojects-description,
.gprojects-contributions {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .education-item,
    .iprojects-item,
    .gprojects-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .education-logo,
    .iprojects-logo,
    .gprojects-logo {
        max-width: 100%;
        
    }

    .education-logo-img,
    .iprojects-logo-img,
    .gprojects-logo-img {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .education-logo-tamiscal {
        width: 100%;
        height: auto;
    }
    

    .resume-buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
