/* style-gen.css */

/* Fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn .5s ease-in-out forwards;
}

/* Fade-out animation */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation: fadeOut .5s ease-in-out forwards;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(45deg, #555, #2b2020);
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0;
    gap: 0;
}

.navbar button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: clamp(0.5em, 2.5vw, 1em);
    display: inline-block; /* Make the button an inline-block element */
    padding: 2% 5%; /* Add padding to the button */
    box-sizing: border-box; /* Include padding and border in the button's total width and height */
}

/* Hover transitions for navbar buttons */
.navbar button:hover {
    background-color:  #747474;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: auto;
}

.top-section-content {
    text-align: center;
}


