/* style-gen.css */

/* Fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn .5s ease-in-out forwards;
}

/* Fade-out animation */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation: fadeOut .5s ease-in-out forwards;
}

.navbar {
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #3A3F44, #555B61); 
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0;
    gap: 0;

}

.navbar button {
    color: #FFFFFF; 
    background: none;
    border: none;
    cursor: pointer;
    font-size: clamp(0.5em, 2.5vw, 1em);
    display: inline-block; /* Make the button an inline-block element */
    padding: 2% 5%; /* Add padding to the button */
    box-sizing: border-box; /* Include padding and border in the button's total width and height */
}

/* Hover transitions for navbar buttons */
.navbar button:hover {
    background-color:  #898989;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: auto;
}

.navbar button.active {
    background-color: #747474; /* The background color for the active button */
    color: white; /* Text color for the active button */
}

.top-section-content {
    text-align: center;
}



@media screen and (max-width: 350px) {
    .navbar {
        display: block;
    
    }

}


