/* style-gen.css */


.navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0;
}

.navbar button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: clamp(0.5em, 2.5vw, 1em);
}

.navbar button:hover {
    background-color: white;
}

.top-section-content {
    text-align: center;
}


