.resume-buttons {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 20px; /* Space between the buttons */
    margin-bottom: 20px; /* Adjust as needed for spacing */
}

.resume-button {
    padding: 10px 20px;
    background-color: #4681bd; /* Dark gray for a sleek look */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
}
.resume-button:hover {
    background-color: #35608c; /* Hover effect with a lighter gray */
    transform: scale(1.1);
}
