.resume-buttons {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 20px; /* Space between the buttons */
    margin-bottom: 20px; /* Adjust as needed for spacing */
}

.resume-button {
    padding: 10px 20px;
    background-color: #3a3f44; /* Dark gray for a sleek look */
    color: white;
    text-decoration: none;
    border: solid;
    border-color: #2b2f33; /* Slightly darker border for depth */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.resume-button:hover {
    background-color: #555b61; /* Hover effect with a lighter gray */
}
