.navbar {
    background-color: #2d2d2d;
    width: 15%;
    padding-top: 2%;
    padding-left: 1%;
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    transition: width 0.3s ease;
}

.navbar-content {
    display: flex;
    flex-direction: column;
}

.navbar button {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    background: none;
    border: none;
    padding: 5% 10%;
    cursor: pointer;
    font-size: calc(2.1px + 1vw);
    text-align: left;
    position: relative;
    transition: background-color 0.3s ease;
}

.navbar button::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 2%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navbar button:hover::before,
.navbar button.active::before {
    opacity: 1;
}

.navbar-email {
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    padding-bottom: 10px;
    font-size: calc(2px + 1vw); /* Adjust the base font size (14px) dynamically */
    color: white; 
}

.navbar-toggle {
    display: none; /* Hide the hamburger by default */

}

@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        height: auto;
        padding: 10px;
        position: relative;
    }

    .navbar-toggle {
        display: block; /* Show the hamburger on small screens */
        color: white;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        position: absolute;
        top: 10px;
        left: 10px;
    }


    .navbar-content {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #2d2d2d;
    }

    .navbar-content.active {
        display: flex;
    }

    .navbar button {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    .navbar-email {
        position: relative;
        bottom: auto;
        left: auto;
        transform: none;
        padding-bottom: 10px;
        text-align: center;
    }

    .content {
        margin-left: 0;
    }

    .about-container {
        flex-direction: column;
        padding: 10px;
    }

    .contact-group {
        flex-direction: column;
    }

    .education-item,
    .iprojects-item,
    .gprojects-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .education-logo,
    .iprojects-logo,
    .gprojects-logo {
        max-width: 100%;
    }

    .education-logo-img,
    .iprojects-logo-img,
    .gprojects-logo-img {
        width: 100%;
    }

    .resume-buttons {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media screen and (min-width: 769px) {
    .navbar-toggle {
        display: none; /* Ensure hamburger is hidden on larger screens */
    }
}
