/* style-nav.css */
.navbar {
    background-color: #2d2d2d;
    width: 100%;
    padding-top: 2%;
    padding-left: 1%;
    height: 100%;
    transition: width 0.3s ease;
}

/* Add other necessary styles here */

/* style-gen.css */
.top-section-content {
    text-align: center;
}

.footer {
    background-color: #2d2d2d;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
