
section {
    margin: 0;
    padding: 0;
}
section h2{
    margin: 0;
    padding: 2%;
}

section h3{
    margin: 0;
    padding-top: 2%;
    padding-left: 2%;
    font-size: 30px;
    color: red;
    display: inline;
}

section h4{
    margin: 0;
    padding: 2%;
    font-size: 20px;
    color: black;
}

section p{
    margin: 0;
    padding: 2%;
}

section h5{
    margin: 0;
    padding-left: 2%;
    padding-bottom: 1%;
    color:black;
    font-size: 15px;
}

.resume-buttons {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 20px; /* Space between the buttons */
    margin-bottom: 20px; /* Adjust as needed for spacing */
}

.resume-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #0056b3;
}
