.gprojects-video-unreal {
    display: flex;
    margin-top: 20px;
    flex: 1;
    flex-direction: column; /* Ensures the videos are aligned in a column */
    align-items: center; /* Centers the videos horizontally */
    gap: 20px;
}

.gprojects-video {
    display: flex;
    margin-top: 20px;
}

.gprojects-video iframe,
.gprojects-video video {
    width: 80%;
    height: auto;
}

.gprojects-video-unreal iframe,
.gprojects-video-unreal video {
    width: 80%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .gprojects-video iframe,
    .gprojects-video video {
        width: 100%;
        height: 315px;
    }


    .gprojects-video-unreal iframe,
    .gprojects-video-unreal video {
        width: 100%;
        height: 315px;
    }
}