
section {
    margin: 0;
    padding: 0;
}
section h2{
    margin: 0;
    padding: 2%;
    font-size: 30px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

section h3 {
    margin: 0;
    padding-top: 2%;
    font-size: 30px;
    color: #3A3F44;
    text-align: center; /* Centers the text horizontally */
    width: 100%; /* Ensures the h3 takes up full width */
}

/* Apply this to the parent container if needed */
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h4{
    margin: 0;
    padding: 2%;
    font-size: 20px;
    color: black;

}

section p{
    margin: 0;
    padding: 2%;
    color: #333333; /* Consistent dark text color */
}

section h5{
    padding: 1%;
    margin: 0;
    color:black;
    font-size: 15px;
    text-align: center; /* Centers the text horizontally */
}

h5 a {
    margin-right: 15px; /* Add space between the two links */
    text-decoration: none; /* Optional: Remove underline */
}

h5 a:last-child {
    margin-right: 0; /* Prevent extra margin on the last link */
}
